################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlotlinesBot/node_modules
/PlotlinesBot/typings
/PlotlinesBot/.vs/PlotlinesBot/v14/.suo
/PlotlinesBot/server.js
/PlotlinesBot/bin
/PlotlinesBot/obj/Debug
